In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\Shreya Marathe\Desktop\Project\Customer_behaviour_Analysis\Data\cust_behaviour_shopping.csv")
df.head()

,Unnamed: 0,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,0,1,55,Male,Top,Clothing,53,Kentucky,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,1,2,19,Male,Sweater,Clothing,64,Maine,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,2,3,50,Male,Jeans,Clothing,73,Massachusetts,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,3,4,21,Male,Sandals,Footwear,90,Rhode Island,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,4,5,45,Male,Top,Clothing,49,Oregon,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              3900 non-null   int64
 1   Customer ID             3900 non-null   int64
 2   Age                     3900 non-null   int64
 3   Gender                  3900 non-null   object
 4   Item Purchased          3900 non-null   object
 5   Category                3900 non-null   object
 6   Purchase Amount (USD)   3900 non-null   int64
 7   Location                3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3900 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(5), object(12)
memory usage: 548.6+ KB

In [5]:
df.describe(include= 'all')

,Unnamed: 0,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,NaN,2,25,4,NaN,50,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,NaN,Male,Top,Clothing,NaN,Montana,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,NaN,2652,171,1737,NaN,96,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1949.500000,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,3.749949,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,0.716223,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,0.000000,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,974.750000,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1949.500000,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,3.700000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2924.250000,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3899.000000,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [6]:
df.isnull().sum()

Unnamed: 0                0
Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [7]:
df.columns = df.columns.str.lower().str.replace(' ', '_')
print(df.columns)

Index(['unnamed:_0', 'customer_id', 'age', 'gender', 'item_purchased',
       'category', 'purchase_amount_(usd)', 'location', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [8]:
df.head()

,unnamed:_0,customer_id,age,gender,item_purchased,category,purchase_amount_(usd),location,color,season,review_rating,subscription_status,shipping_type,discount_applied,promo_code_used,previous_purchases,payment_method,frequency_of_purchases
0,0,1,55,Male,Top,Clothing,53,Kentucky,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,1,2,19,Male,Sweater,Clothing,64,Maine,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,2,3,50,Male,Jeans,Clothing,73,Massachusetts,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,3,4,21,Male,Sandals,Footwear,90,Rhode Island,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,4,5,45,Male,Top,Clothing,49,Oregon,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [9]:
df.drop('unnamed:_0', axis=1, inplace=True)

In [11]:
df = df.rename(columns={'purchase_amount_(usd)': 'purchase_amount'})

In [12]:
df.head()

,customer_id,age,gender,item_purchased,category,purchase_amount,location,color,season,review_rating,subscription_status,shipping_type,discount_applied,promo_code_used,previous_purchases,payment_method,frequency_of_purchases
0,1,55,Male,Top,Clothing,53,Kentucky,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Top,Clothing,49,Oregon,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [13]:
(df['discount_applied'] == df['promo_code_used']).all()

np.True_

In [14]:
df.drop('promo_code_used', axis=1 , inplace= True)

In [15]:
bins = [0, 12 , 17, 59 , df['age'].max()]
labels = ['Kid' , 'Teenager', 'Adult' , 'Senior']
df['age_group'] = pd.cut(df['age'], bins = bins, labels = labels , right = True)

In [16]:
df['frequency_of_purchases'].unique()

array(['Fortnightly', 'Weekly', 'Annually', 'Quarterly', 'Bi-Weekly',
       'Monthly', 'Every 3 Months'], dtype=object)

In [17]:
frequency_mapping = {
    'Fortnightly' : 14,
    'Weekly' : 7,
    'Annually' : 365,
    'Quarterly' : 90,
    'Bi-Weekly' : 14,
    'Monthly' : 30,
    'Every 3 Months' : 90
}

df['purchase_cycle_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [18]:
df[['frequency_of_purchases','purchase_cycle_days']].head(10)

  frequency_of_purchases  purchase_cycle_days
0            Fortnightly                   14
1            Fortnightly                   14
2                 Weekly                    7
3                 Weekly                    7
4               Annually                  365
5                 Weekly                    7
6              Quarterly                   90
7                 Weekly                    7
8               Annually                  365
9              Quarterly                   90

In [19]:
df['loyalty_score'] = (df['previous_purchases'] * 0.5) + \
                      (df['frequency_of_purchases'].map({'Weekly' : 5,'Fortnightly' : 4,'Bi-Weekly' : 4,'Monthly' : 3,'Quarterly' : 2,'Every 3 Months' : 2,'Annually' : 1})) + \
                      (df['subscription_status'].map({'Yes': 2, 'No': 0}))

In [20]:
df['loyalty_score'].head()

0    13.0
1     7.0
2    18.5
3    31.5
4    18.5
Name: loyalty_score, dtype: float64

In [21]:
df['payment_method'].unique()

array(['Venmo', 'Cash', 'Credit Card', 'PayPal', 'Bank Transfer',
       'Debit Card'], dtype=object)

In [22]:
df['payment_category'] = df['payment_method'].map({
    'Venmo': 'Digital Wallet',
    'PayPal': 'Digital Wallet',
    'Bank Transfer': 'Bank',
    'Credit Card': 'Card',
    'Debit Card': 'Card',
    'Cash': 'Cash'
})

In [23]:
df['is_digital_payment'] = df['payment_method'].isin(['Venmo', 'PayPal', 'Credit Card', 'Debit Card', 'Bank Transfer'])

In [24]:
df[['payment_method' , 'payment_category' , 'is_digital_payment']].head()

  payment_method payment_category  is_digital_payment
0          Venmo   Digital Wallet                True
1           Cash             Cash               False
2    Credit Card             Card                True
3         PayPal   Digital Wallet                True
4         PayPal   Digital Wallet                True

In [25]:
df.head()

,customer_id,age,gender,item_purchased,category,purchase_amount,location,color,season,review_rating,...,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group,purchase_cycle_days,loyalty_score,payment_category,is_digital_payment
0,1,55,Male,Top,Clothing,53,Kentucky,Gray,Winter,3.1,...,Express,Yes,14,Venmo,Fortnightly,Adult,14,13.0,Digital Wallet,True
1,2,19,Male,Sweater,Clothing,64,Maine,Maroon,Winter,3.1,...,Express,Yes,2,Cash,Fortnightly,Adult,14,7.0,Cash,False
2,3,50,Male,Jeans,Clothing,73,Massachusetts,Maroon,Spring,3.1,...,Free Shipping,Yes,23,Credit Card,Weekly,Adult,7,18.5,Card,True
3,4,21,Male,Sandals,Footwear,90,Rhode Island,Maroon,Spring,3.5,...,Next Day Air,Yes,49,PayPal,Weekly,Adult,7,31.5,Digital Wallet,True
4,5,45,Male,Top,Clothing,49,Oregon,Turquoise,Spring,2.7,...,Free Shipping,Yes,31,PayPal,Annually,Adult,365,18.5,Digital Wallet,True

In [26]:
df.to_csv("cleaned_customer_data.csv", index=False)
print(" Cleaned data saved successfully to CSV!")

 Cleaned data saved successfully to CSV!